<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <div class="card-header text-primary">Add Customer</div>
        <div class="card-body">
          <form #customerForm="ngForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
              <label for="id_name"  class="bmd-label-floating">Name</label>

              <input type="text" autofocus name="name" [(ngModel)]="customer.name" class="form-control" id="id_name">
            </div>

            <div class="form-group">
              <label for="id_email" class="bmd-label-floating">Email</label>
              <input type="email" name="email" [(ngModel)]="customer.email" class="form-control" id="id_email">
            </div>
            <div class="form-group">
              <label for="id_phone" class="bmd-label-floating">Phone</label>
              <input type="tel" name="phone" [(ngModel)]="customer.phone" class="form-control" id="id_phone">
            </div>
            <div class="form-group">
              <label for="id_state"  class="bmd-label-floating">state</label>
              <select class="form-control" name="state" [(ngModel)]="customer.state" id="id_state">
                <option *ngFor="let st of state" [value]="st">{{st}}</option>
                
              </select>
            </div>

            <div class="form-group">
              <label for="id_address" class="bmd-label-floating">Address</label>
              <textarea class="form-control" name="address" [(ngModel)]="customer.address" id="id_address" rows="3"></textarea>
            </div>
            <button type="button" (click)="goBack()" class="btn btn-white">Back</button>
            <button type="reset" class="btn btn-default">Reset</button>
            <button type="submit" class="btn btn-primary btn-raised">Submit</button>
          </form>

        </div>
      </div>
    </div>
  </div>
</div>